/* Nacigation-boxes variables */
@media (min-width: 640px) {
  .site {
    max-width: 1180px;
    padding-right: 2.33050%;
    padding-left: 2.33050%;
    display: block;
    margin: 0 auto; } }

@media (min-width: 1024px) {
  header {
    background-color: #323849; }
  .logo {
    min-height: 150px; } }

#hamburger-button {
  cursor: pointer; }

.top-menu {
  display: block; }

.top-menu-hamburger {
  text-align: center;
  padding: 16px 0; }

.top-menu li {
  padding: 16px 1em 16px 1em;
  border-bottom: solid 1px #fff; }

.top-menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.top-menu ul a {
  text-decoration: none;
  color: #494949; }

.displayTopMenuForMobile {
  display: block; }

@media (min-width: 1024px) {
  .top-menu li {
    display: inline-block;
    background-color: rgba(230, 230, 230, 0.95);
    border: none;
    margin-right: 1px;
    color: #494949; }
  #top-menu-list {
    display: block; }
  .top-menu-hamburger {
    display: none; }
  .top-menu ul {
    text-align: center; }
  .top-menu li:hover {
    background-color: #fff; }
  .mobile-only {
    display: none !important; } }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "FontAwesome", Helvetica, Arial, sans-serif; }

button {
  background-color: transparent;
  border: none; }

button:focus {
  outline: 0; }

.nav-box-a {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }

.nav-box-desktop-only {
  display: none; }

.nav-box-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.nav-box-flex-item {
  width: 100%;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  background-color: #A62E5C;
  margin: 0.5px; }

.nav-box-inner-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav-box-hide-mobile {
  display: none; }

.nav-box-nav-link {
  max-width: 85%; }

@media (min-width: 640px) {
  navigation-boxes {
    display: block;
    margin-top: 50px; }
  .nav-box-desktop-only {
    display: inherit;
    margin: 0;
    padding: 0; }
  .nav-box-flex-container {
    max-width: 50em;
    margin: 0 auto; }
  .nav-box-flex-item {
    max-width: 12em;
    height: 200px; }
  .nav-box-flex-item:hover {
    background-color: #323849;
    -webkit-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out; }
  .nav-box-hidden-section {
    display: none; }
  .nav-box-hide-mobile {
    display: inherit; }
  .nav-box-mobile-only {
    display: none; } }
